.top {
  background-image: url("../images/sora.jpeg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

#skills h1 {
    text-align: center;
    margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  
}

.box {
  border: solid 1px skyblue;
  margin: 10px;
  flex: 1;
  float: left;
  padding: 10px;
  
}

.box h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}


#contact {
    text-align: center;
}

#contact h3 {
    margin: 15px 0;
}

.contact {
  background-color: skyblue;
  border-radius: 5px;
  padding: 8px 24px;
}

  
